body {
text-align: center;
font-family:'Poppins', -apple-system, sans-serif;
padding: 0 50px 0 50px;
color: whitesmoke;
}

body::before{
content:'';
width: 100%;
top: 0;
left: 0;
height: 100%;
z-index: -1;
position: fixed;
background-size: cover;
background-image: linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7) ),
url("https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg")
}

form * {
display: block;
text-align: left;
padding: 20px 0;
width: 100%;
font-weight: normal;

}

form {
padding: 30px 40px 40px ;
margin: auto;
background-color: rgba(27, 27, 50, 0.8);
border-radius: 5px;
}

#title {
  font-weight: lighter;
  font-style: normal;
}

#description {
font-size: 1.15em;
font-weight: 100;
font-family: 'Poppins';
letter-spacing: 1.1em;
line-height: 1.1em;
padding-bottom: 25px;
}


input, select {

padding: 15px 10px 10px 10px;
margin-top: 10px;
border-radius: 6px;

}

#number-label span {

  display: inline;
}

form ::placeholder {

  font-size: 17px;
  color: darkgrey;
}

#dropdown {
font-size: 1em;
color: darkgrey;
}

[type="radio"],[type="checkbox"]{
width:initial;

}


p ~ span *{

display: inline;
}

.alignthething {
font-size: inherit;

}

#test1 label *{
display: inline;

}
